/*.back{*/
  /*position: relative;*/
  /*padding: 4.5em;*/
  /*background: #fff;*/
  /*border-radius: 6px;*/
  /*box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);*/
/*}*/

@media screen and (max-width: 1680px){
  .conteiner {
    width: 1200px;
  }
}
.panel-heading{
  background-color: cornflowerblue;;
  opacity: 0.9;
}
.btn-success{
  background: rgb(174,246,86);
}
.rate-panel{
  display: inline-block;
  padding: 10px;

}

.rate-panel .panel-primary{
  border: 1px solid gainsboro;
  border-radius: 4px;
}

.rate-panel .panel-primary .panel-heading{
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

.rate-panel .panel-primary .btn-success {
  width: 100%;
  border-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rate-panel .panel-primary .panel-body{
  text-align: center;
  font-size: 20px;
}

#banner{
  padding: 0px !important;
  width: 100%;
  border-radius: 0px;
}

.line1{
  display: none;
}
