<div class="container">
  <div class="row">
    <div class="col-md-offset-5 col-md-2">
      <h3 class="text-center">Вартість</h3>
    </div>
  </div>
  <div class="col-md-12" >
    <div class="panel-group row" >

      <div class="rate-panel col-md-3" *ngFor='let price of prices'>
        <div class="panel-primary">
          <div class="panel-heading">
            {{price.duration}}

          </div>
          <div class="panel-body">
            {{price.amount}}

          </div>
          <div class="panel-footer">
            <ul>
              <li><span class="glyphicon glyphicon-minus"></span> Доступ до усіх функцій</li>
              <li><span class="glyphicon glyphicon-minus"></span> Підтримка chat/on-line</li>
              <li><span class="glyphicon glyphicon-minus"></span> Безпечний доступ</li>
            </ul>
          </div>
          <button class=" btn btn-success"><a href="#" class="order-btn">ЗАМОВИТИ</a></button>
        </div>
      </div>

    </div>
  </div>
</div>
