<div class="container">
  <div class="ordering-selects">

    <mat-form-field>
        <mat-select  placeholder="Місто" [(ngModel)]="citySelect.value" (selectionChange)="onSelectCity()"  [disabled]="citySelect.disalble"  >
        <mat-option *ngFor="let city of citySelect.options" [value]="city.value">
          {{city.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field>
      <mat-select  placeholder="Офіс" [(ngModel)]="placeSelect.value" (selectionChange)="onSelectPlace()" [disabled]="placeSelect.disalble"  >
        <mat-option *ngFor="let place of placeSelect.options" [value]="place.value">
          {{place.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field>
      <mat-select  placeholder="Простір" [(ngModel)]="spaceSelect.value" (selectionChange)="onSelectSpace()" [disabled]="spaceSelect.disalble">
        <mat-option *ngFor="let space of spaceSelect.options" [value]="space.value">
          {{space.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <!--<mat-form-field>-->
    <!--<input matInput [matDatepicker]="picker" placeholder="Choose a date">-->
    <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
    <!--<mat-datepicker #picker></mat-datepicker>-->
  <!--</mat-form-field>-->



</div>
