<div class="app-container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="logo">
                        <a>
                            logo
                        </a>
                    </li>
                    <li> <a class="navbar-brand" href="#">CoWorking</a></li>
                </ul>
            </div>
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Головна</a></li>
                <li class="nav-item"><a class='nav-link' routerLinkActive='active' [routerLink]="['/prices']">Вартість</a></li>
                <li class="nav-item"><a class='nav-link' routerLinkActive='active' [routerLink]="['']">Контакти</a></li>
                <li class="nav-item"><a class='nav-link' routerLinkActive='active' [routerLink]="['']">Про Нас</a></li>
            </ul>
        </div>
    </nav>
</div>