.block_with_form {
  display: none;
  position: relative;
  top: -500px;
  width: min-content;
  height: min-content;
  background: #323232;
  align-items: center;
  padding: 5px 5px 20px;
  border-radius: 0 0 5px 5px;
}

.block_with_form__nav {
  display: block;
  padding-left: 145px;
}
.nav_button{
  border: none;
  background: inherit;
  line-height: 14px;
}
.nav_button-close {
  color: red;
}
.nav_button-hide {
  color: green;
}
.form__title {
  text-align: center;
  color: white;
  font-size: 18px;
}

.form-reserve__input-button-close{
  background: rgb(50,50,50);
  border: none;
  color: red;
  font-size: 11px;
}




.form__button {
  width: 100%;
  background: rgb(174, 246, 86);
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  border: none;
}
.result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul{
    color: white;
    padding: 0;
  }
}

.form_data-list{
 color:white;
  list-style: none;
}
.input {
  width: 100%
}

.sum {
  display: block;
  color: white;
  text-align: center;
}