
/*/%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
html {
    font-size: 20px;
    overflow-x: hidden;
    display: block;
}

@media (max-width: 1200px) {
    html {
        font-size: 18px;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 300px) {
    html {
        font-size: 14px;
    }
}



@media (max-height: 1024px) {
    .sizeof-video{
        height: 79vh;
    }
    .main-titles {
        font-size: 30px;
    }
    .title-inblock{
        margin-top: 55px;
        font-size: 20px;
    }
}

@media (max-width: 82px) {
    .main-titles {
        font-size: 18px;
    }
    .title-inblock{
        margin-top: 55px;
        font-size: 14px;
    }
}


body {
    font-family: pageFont, Arial, sans-serif;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 60px;
    background-size: cover;
}

.content-width {
    margin-right: 20px;
    width: 130px;
}

.logo {
    padding-left: 20px;
}

.img-logo {
    max-width: 70%;
    height: auto;
}

/*---------------------------------------------------------------------------------*/
.main-menu {
    width: 600px;
    .list {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        list-style: none;
        .item  a {
            color: white;
            text-decoration: none;
            font-size: 19px;
            &:hover{
                color: rgb(174,246,86);
                text-decoration: none;
                opacity: 0.5;
                font-size: 19px;
            }
        }
    }
}

@media only screen and (max-width: 820px) {
    .main-menu {
        display: none;
    }
}



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.nav-dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 1.2rem; /*20px*/
    text-transform: uppercase;
    display: none;
    z-index: 2;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.dropbtn {
    color: white;
    padding: 10px;
    font-size: 2rem; /*24px*/
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.77);
    box-shadow: 0px 8px 18px 0px rgba(216, 216, 216, 0.4);;
    min-width: 160px;
    z-index: 1;
    .list {
        list-style: none;
        .item {
            a {
                text-decoration: none;
                color: white;
                padding: 12px 16px;
                display: block;
                &:hover{
                    background-color: #626262;
                }
            }
        }
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #626262;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media (max-width: 975px) {
    .nav {
        display: none;
    }

    .nav-dropdown {
        display: inline-block;
    }
}

.main {
    display: block;
}

.sizeof-video {
    width: 100%;
    height: 100vh;
    position: relative;
}


/*-----------------------------BLOCK ON VIDEO----------------------------------------------------*/

.block-on-video {
    top: 40%;
    display: block;
    position: absolute;
    width: 100%;
}

.main-titles {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 60px;
    line-height: .91667;
    font-weight: 600;
    letter-spacing: -.015em;
    color: white;
    opacity: 0.5;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.title-inblock{
    margin-top: 40px;
    font-size: 30px;
}
/*My easy swiper*/

.wrapper-in-block {
    width: auto;
}

.swiper-in-block-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_order {
    display: block;
    margin: 0 auto;

}

.map-top {
    background: #f3f3f3;
}

.main-tittle {

    margin: 60px 0 80px 0;
    text-align: center;
}

.main-tittle:after {
    content: "";
    display: block;
    height: 1px;
    width: 80px;
    margin: 15px auto 0 auto;
    background-color: #5674b9;
}

/*/%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.empty__block {
    height: 290px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: auto;
}

/*---------------------------------------------------------------------------------*/
.footer-adress {
    color: white;
    font-size: 1rem;
}

/*---------------------------------------------------------------------------------*/
.sochial-block_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sochial-block_item{
   list-style: none;
}

.footer_partners-block{
    display:flex;
    flex-direction: row;
}
.partners-block_title{
        align-self: center;
    font-size: 18px;
}
.partners-block_list{
    display: flex;
    flex-direction: row;
    list-style: none;
    list-style: none;
}
.partners-block_item{

}

@media (max-width: 618px) {
    .footer-socials ul li {
        display: inline-block;
        padding: 0;
    }

    .footer-socials ul {
        padding: 0;
    }
}

.widget, .contact, .last {
    text-align: center;
}

.footer__social-link {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.footer__social-link svg {
    width: 20px;
    height: 20px;
}

.tw:hover path {
    fill: #1da1f2;
}

.yt:hover path {
    fill: #e62117;
}

.yt:hover polygon {
    fill: #e62117;
}

.goog:hover path {
    fill: #db4437;
}

.fb:hover path {
    fill: #4267b2;
}

.lin:hover path {
    fill: #665ed0;
}

.ins:hover path {
    fill: orange;
}

.ins:hover polygon {
    fill: orange;
}

.partner__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.partner__list {
    display: inline-block;
    margin: 0 10px 10px 10px;
}

.partner__link {
    display: inline-block;
}

/*---------------------------------------------------------------------------------*/
#bottom-row-2 {
    padding: 10px;
    margin: 0;

}

/*---------------------------------------------------------------------------------*/
.intita {
    padding: 0;
    color: white;
    text-align: center;

}

.intita span {
    font-size: 1rem;

}

/*---------------------------------------------------------------------------------*/
.profit {
    color: white;
    padding: 5px;
}

.profit span {
    font-size: 1rem;
}

/*---------------------------------------------------------------------------------*/


.content .aside {
    position: absolute;
    right: 0;
    font-size: 14px;
    height: 854px;
    width: 49.5%;
    background: rgba(255, 255, 255, 0.71);
}

.content .aside span {
    color: rgb(86, 116, 185);
}

.aside .aside-heading {
    margin: 30px 0 0 10%;
    font-size: 17px;
}

.aside .content_text {
    margin: 32px 0 0 10%;
    line-height: 2;
}

.aside .content_marker, .content_envelope, .content_earphone {
    margin: 23px 0 0 10%;
}

.aside-line {
    display: inline;
    margin: 15px 0 0 69px;
}

.content .aside input {

    width: 75%;
    height: 56px;
    display: block;
    margin-top: 18px;
    margin-left: 10%;
    padding-left: 15px;
    border: 3px solid #dedede;
    background: rgba(255, 255, 255, 0.2);
}

.content .aside textarea {
    width: 75%;
    height: 146px; /*72*/
    display: block;
    margin-top: 18px;
    margin-left: 10%; /*69px*/
    padding-left: 15px;
    border: 3px solid #dedede;
    background: rgba(255, 255, 255, 0.2);
    resize: none;
}

.aside .aside-heading, .content_marker, .content_earphone, .content_envelope {
    font-weight: bolder;
}

.button_contacts {
    height: 59px;
    /*width: 475px;*/
    width: 75%;
    margin-top: 19px;
    margin-left: 10%;
}

/*---------------------------------------------------------------------------------*/
