agm-map {
    height: 600px;
}
/*стили для обратной связи */
.feedback{
    margin:30px;
    max-width:95%;
    box-sizing:border-box;
    padding:5px;
    border-radius:5px;

}
example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin:30px;
}

.example-full-width {
    width: 90%;
    margin:10px;
}

/* Стили полей ввода */
.textbox{
    height:40px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    padding:10px;
    margin-bottom:30px;
}
.message:focus,
.textbox:focus{
    outline:none;
    border:rgba(24,149,215,1) 2px solid;
    color:rgba(24,149,215,1);
}
/* Стили текстового поля */
.message{
    background: rgba(255, 255, 255, 0.4);
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display:block;
    padding:10px;
    margin-bottom:30px;
    overflow:hidden;
}
/* Базовые стили кнопки */
.button{
    height:40px;
    width:50%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing:border-box;
    padding:10px;
    background: #4682B4;
    color:#FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size: 16pt;
    transition:background .4s;
    cursor:pointer;
}
/* Изменение фона кнопки при наведении */
.button:hover{
    background:#80b438;
}

.container {
    display: flex;
    padding: 3px;
    flex-flow: row;

}
.box-1{
    margin: 1px;
    flex: 2;
    order: 1}

.box-2{
    order: 2;
    background-color:#F0FFF0;
    border-style: inset;
    margin: 1px;
    flex: 1;
}
.aside-heading{

    font-weight: bold;
    text-align: center;
}

.content_text
{    margin: 50px;
    word-spacing:4px;
    font-family: Arial;
}
/*конец стилей для фидбека*/