<!--The content below is only a placeholder and can be replaced.-->
<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div    class="box-1">
    <agm-map  [latitude]="mapConfig.lat"
             [longitude]="mapConfig.long"
    [zoom]="mapConfig.zoom">

    <!--<agm-marker [latitude]="49.2308045" [longitude]="28.3964071"></agm-marker>-->
    <agm-marker *ngFor="let contact of markers; let i=index"
                [latitude]="contact.latitude"
                [longitude]="contact.longitude"  >

      <agm-snazzy-info-window [isOpen]="false"
                              [latitude]="contact.latitude"
                              [longitude]="contact.longitude"
                              [closeWhenOthersOpen]="true">
        <ng-template>
            {{ contact.address }}<p></p>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
    </agm-map>
  </div>
  <div class="box-2">

      <mat-card class="card">
          <div class="aside-heading"><h3>КОНТАКТНА ІНФОРМАЦІЯ</h3>
          </div>

          <mat-card-content>
              <p>
                  При винникненні будь-яких запитаннь
                  чи пропозицій, <br>
                  Ви можете звернутись по вказаним контактним <br>
                  даним, або заповнити відповідну форму
              </p>
          </mat-card-content>
          <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title  class="email">intita.hr@gmail.com</mat-card-title>
              <mat-card-subtitle>+38 0432 52 82 67</mat-card-subtitle>
          </mat-card-header>
      </mat-card>

      <div >
          <form class="form">
          <mat-form-field class="full-width">
          <input matInput placeholder="Вкажіть ваше ім'я!" ngModel="user.name">
          </mat-form-field>
          <br>
              <mat-form-field class="full-width">
              <input matInput placeholder="Вкажіть тему" ngModel="user.theme" >
          </mat-form-field>
          <br>
          <mat-form-field class="full-width">
              <textarea matInput placeholder="Введіть ваше повідомлення:" ngModel="user.subject"></textarea>

          </mat-form-field>

              <button mat-button color="primary">Відправити</button>

          </form>
      </div>


</div>
</div>
