agm-map {
    height: 600px;
}
/*стили для обратной связи */

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin:15px;
}

.full-width {
    width: 90%;
    margin:10px;
}
.email{
    font-style: italic;
    font-stretch: ultra-expanded;
    font-weight: bold;

}

.card {
    margin:20px;
}

.container {
    display: flex;
    padding: 1px;
    flex-direction: row;
    flex-flow: row wrap;
}
.box-1{
    margin: 1px;
    flex: 2;
   }

.box-2{

    background-color:#F2F3F6;

    margin: 1px;
    flex: 1;
}
.aside-heading{

    font-weight: bold;
    text-align: center;
}



/*конец стилей для фидбека*/